Booking/src/main/resources/shema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://booking.xml.com/backendmain/ws-classes"
           targetNamespace="http://booking.xml.com/backendmain/ws-classes" xmlns="http://booking.xml.com/backendmain/ws-classes"
  attributeFormDefault="unqualified" elementFormDefault="qualified">

<!--TEST-->
<xs:element name="testRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/> 
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="facilityTypeWS">
        <xs:complexType> 
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="locationWS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="roleWS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="userWS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="username" type="xs:string" />
                <xs:element name="name" type="xs:string" />
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
                <xs:element name="pmb" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="passwordConfirm" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="token" type="xs:string"/>
                <xs:element name="active" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="facilityWS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="category" type="xs:int"/>
                <xs:element name="owner" type="xs:string"/>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
                <xs:element name="location" type="xs:string"/>
                <xs:element name="parkingLot" type="xs:boolean"/>
                <xs:element name="wifi" type="xs:boolean"/>
                <xs:element name="breakfast" type="xs:boolean"/>
                <xs:element name="halfBoard" type="xs:boolean"/>
                <xs:element name="fullBoard" type="xs:boolean"/>
                <xs:element name="tv" type="xs:boolean"/>
                <xs:element name="kitchen" type="xs:boolean"/>
                <xs:element name="bathroom" type="xs:boolean"/>
                <xs:element name="numberOfPeople" type="xs:int"/>
                <xs:element name="images" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="newFacilityRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="category" type="xs:int"/>
                <xs:element name="owner" type="xs:string"/>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
                <xs:element name="location" type="xs:string"/>
                <xs:element name="parkingLot" type="xs:boolean"/>
                <xs:element name="wifi" type="xs:boolean"/>
                <xs:element name="breakfast" type="xs:boolean"/>
                <xs:element name="halfBoard" type="xs:boolean"/>
                <xs:element name="fullBoard" type="xs:boolean"/>
                <xs:element name="tv" type="xs:boolean"/>
                <xs:element name="kitchen" type="xs:boolean"/>
                <xs:element name="bathroom" type="xs:boolean"/>
                <xs:element name="numberOfPeople" type="xs:int"/>
                <xs:element ref="appointmentWS" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="imagesWS"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="messageResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="message" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>


<xs:element name="imagesWS">
	<xs:complexType>
		<xs:sequence>
                <xs:element name="images" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="userRequest">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="username" type="xs:string"/>
			<xs:element name="password" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="userFromIdRequest">
	<xs:complexType>
		<xs:sequence>
                <xs:element name="id" type="xs:long"/>
			<xs:element name="username" type="xs:string"/>
			<xs:element name="password" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>



<xs:element name="appointmentWS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="fromDate" type="xs:date"/>
                <xs:element name="toDate" type="xs:date"/>
                <xs:element name="price" type="xs:double"/>
                <xs:element name="facility" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="reservationWS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="confirmed" type="xs:boolean"/>
                <xs:element name="facility" type="xs:string"/>
                <xs:element name="guest" type="xs:string"/>
                <xs:element name="price" type="xs:double"/>
                <xs:element name="fromDate" type="xs:date"/>
                <xs:element name="toDate" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="messageWS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="reciver" type="xs:string"/>
                <xs:element name="sender" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="date" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="ratingWS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="rating" type="xs:int"/>
                <xs:element name="comment" type="xs:string"/>
                <xs:element name="user" type="xs:string"/>
                <xs:element name="facility" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="agentFacilitiesRequest">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="userId" type="xs:long"/>
            <xs:element name="username" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>


<xs:element name="agentFacilitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="facilityWS" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="reservationRequest">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="username" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="reservationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="reservationWS" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="unavailableReservationRequest">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="from" type="xs:date"/>
			<xs:element name="to" type="xs:date"/>
			<xs:element name="facilityId" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="unavailableResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="unavailable" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="messagesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="messageWS" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
</xs:element>

<xs:element name="deleteFacilityRequest">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="id" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="deleteFacilityResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="deleted" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="confirmReservationRequest">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="id" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="confirmReservationResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="confirmed" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="sendMessageRequest">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="sender" type="xs:string"/>
			<xs:element name="reciver" type="xs:string"/>
			<xs:element name="message" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="sendMessageResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="sent" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="messageRequest">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="testResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>


</xs:schema>